<form action="">
    <div class="grid grid-cols-1 gap-4 text-left md:grid-cols-3 ">
      <div class="relative">
        <input type="number" id="roomNumber" class="peer block" placeholder="" />
        <label
          for="roomNumber"
          class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200"
        >
          Room Number
        </label>
      </div>
  
      <div class="relative">
        <!-- <input type="password" id="password" class="peer block" placeholder=" " /> -->
        <select name="" id="" class="select">
            <option value="" disabled>--- select room type ---</option>
            <option value="">VVIP</option>
            <option value="">VIP</option>
            <option value="">Starndard</option>
        </select>
        <label
          for="password"
          class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-600 dark:bg-night-700 dark:text-night-200"
        >
          Room Type
        </label>
      </div>
  
      <div class="relative">
        <select name="" id="" class="select peer block">
            <option value="" disabled>--- select lodge ---</option>
            <option value="">Kinyerezi</option>
            <option value="">Tabata Bima</option>
            <option value="">Tabata Mawenzi</option>
        </select>
        <label
          for="confirm-password"
          class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-600 dark:bg-night-700 dark:text-night-200"
        >
       Lodge
        </label>
      </div>
    </div>
   <div class="w-full my-2">
    <button
    class="flex-none w-full rounded bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600 dark:bg-primary-500 dark:text-white dark:hover:bg-primary-600"
  >
    Add Room
  </button>
   </div>
  </form>
  