<!-- NIROVI NAV BAR FOR LARGE SCREEN -->
<nav
  class="fixed flex justify-between py-4 w-full lg:px-48 md:px-12 px-4 transition duration-500 ease-in content-center z-10"
  [ngClass]="{
    'bg-medium  transition duration-700 ease-in py-0': isScrolled
  }"
>
  <div
    class="flex items-center uppercase font-varela font-extrabold text-2xl leading-7"
  >
    <!-- <img src="assets/images/nirovi.png" alt="Logo" width="150" height="150" /> -->
    <h1>
      <span class="text-white">nirovi </span
      ><span class="text-primary"> lodge</span>
    </h1>
  </div>
  <ul class="font-montserrat items-center hidden md:flex text-white">
    <li class="mx-3">
      <a
        class="growing-underline cursor-pointer hover:text-primary"
        (click)="navigate(home)"
      >
        Home
      </a>
    </li>
    <li class="growing-underline mx-3 cursor-pointer hover:text-primary">
      <a (click)="navigate(service)">Service</a>
    </li>
    <li class="growing-underline mx-3 cursor-pointer hover:text-primary">
      <a (click)="navigate(rooms)">Rooms</a>
    </li>
    <li class="growing-underline mx-3 cursor-pointer hover:text-primary">
      <a (click)="navigate(contact)">Contact us</a>
    </li>
  </ul>
  <!-- <div class="font-montserrat hidden md:block">
    <button class="mr-6">Login</button>
    <button class="py-2 px-4 text-white bg-black rounded-3xl">Signup</button>
  </div> -->
  <div id="showMenu" class="md:hidden" (click)="openMobileNav()">
    <img src=" assets/logos/Menu.svg" alt="Menu icon" />
  </div>
</nav>

<div
  *ngIf="showMenu"
  class="px-4 py-6 fixed top-0 left-0 h-full w-full bg-medium text-white z-20 animate-fade-in-down"
>
  <div id="hideMenu" class="flex justify-end" (click)="closeMobileNav()">
    <img src="assets/logos/Cross.svg" alt="" class="h-16 w-16" />
  </div>
  <ul class="font-raleway flex flex-col mx-8 my-24 items-center text-2xl">
    <li id="hideMenu" class="my-6">
      <a (click)="navigate(home); closeMobileNav()">Home</a>
    </li>
    <li class="my-6">
      <a id="hideMenu" (click)="navigate(service); closeMobileNav()">Service</a>
    </li>
    <li class="my-6">
      <a id="hideMenu" (click)="navigate(rooms); closeMobileNav()">Rooms</a>
    </li>
    <li class="my-6">
      <a id="hideMenu" (click)="navigate(contact); closeMobileNav()"
        >Contact us</a
      >
    </li>
  </ul>
</div>

<!-- HOME SECTION -->
<section
  class="pt-24 md:mt-0 md:h-screen flex flex-col justify-center text-center md:text-left md:flex-row md:justify-between md:items-center lg:px-48 md:px-12 px-4 snap-mandatory snap-y snap-center transition duration-300 ease-in-out animate-fade-in-down home"
  #home
>
  <div class="md:flex-1 md:mr-10">
    <h1
      class="font-pt-serif text-4xl font-bold mb-7 leading-normal text-primary"
    >
      Welcome to Nirovi Lodge -
      <span class="bg-left-bottom bg-no-repeat pb-5 bg-100% tracking-wider">
        Where Tranquility Meets Luxury!
      </span>
    </h1>
    <p class="font-raleway font-normal mb-7 text-white">
      Experience nature's embrace and indulge in a world of serenity.
    </p>
    <div class="font-montserrat">
      <a
        (click)="navigate(service)"
        class="bg-medium hover:bg-black px-6 py-4 rounded-lg border-solid text-white mr-2 mb-2 cursor-pointer"
      >
        Services
      </a>

      <a
        (click)="navigate(contact)"
        class="px-6 py-4 border-2 border-primary hover:bg-primary border-solid text-white rounded-lg cursor-pointer"
      >
        Contact us
      </a>
    </div>
    <div
      *ngIf="isScrolled"
      class="fixed flex bottom-0 right-0 mr-5 mb-5 border-2 border-primary bg-primary p-2 w-9 h-9 text-center items-center rounded-full z-10 animate-bounce"
      (click)="backToTheTop()"
    >
      <fa-icon
        [icon]="faArrowUp"
        class="text-white text-lg "
      ></fa-icon>
    </div>
  </div>
  <!-- <div
    *ngIf="isScrolled"
    class="fixed flex bottom-0 right-0 mr-5 mb-5 border-2 border-primary p-2 w-9 h-9 text-center items-center rounded-full z-10 animate-bounce"
    (click)="backToTheTop()"
  >
    <fa-icon
      [icon]="faArrowUp"
      class="text-secondary transition duration-500 ease-in text-lg hover:text-primary"
    ></fa-icon>
  </div> -->
  <!-- <div class="flex justify-around md:block mt-8 md:mt-0 md:flex-1">
    <div class="relative">
      <img
        src="assets/icons/Highlight1.svg"
        alt=""
        class="absolute -top-16 -left-10"
      />
    </div>
    <img src="assets/images/receiption.webp" alt="Macbook" />
    <div class="relative w-full">
      <img
        src="assets/icons/Highlight2.svg"
        alt=""
        class="absolute -bottom-10 -right-6"
      />
    </div>
  </div> -->
</section>

<!-- SERVICE SECTION -->
<section class="text-gray-400 sectionSize" #service>
  <!-- <div>
    <h2 class="secondaryTitle bg-underline2 bg-100%">Services</h2>
  </div> -->
  <div class="flex flex-col md:flex-row">
    <div class="flex-1 mx-8 flex flex-col items-center my-4">
      <div class="my-3">
        <fa-icon
          [icon]="faHotel"
          class="text-secondary transition duration-500 ease-in text-6xl hover:text-primary"
        ></fa-icon>
      </div>
      <h3 class="font-montserrat font-medium text-xl mb-2">Accommodation</h3>
      <p class="text-center font-montserrat">
        Comfortable rooms, suites, cottages, or villas with various bed
        configurations.
      </p>
    </div>
    <div class="flex-1 mx-8 flex flex-col items-center my-4">
      <div class="my-3">
        <fa-icon
          [icon]="faUserGroup"
          class="text-secondary transition duration-500 ease-in text-6xl hover:text-primary"
        ></fa-icon>
      </div>
      <h3 class="font-montserrat font-medium text-xl mb-2">Guest Services</h3>
      <p class="text-center font-montserrat">
        24/7 front desk and concierge service to assist guests with inquiries,
        reservations, and local recommendations.
      </p>
    </div>
    <div class="flex-1 mx-8 flex flex-col items-center my-4">
      <div class="my-3">
        <fa-icon
          [icon]="faTreeCity"
          class="text-secondary transition duration-500 ease-in text-6xl hover:text-primary"
        ></fa-icon>
      </div>
      <h3 class="font-montserrat font-medium text-xl mb-2">
        Environmental Initiatives
      </h3>
      <p class="text-center font-montserrat">
        Lodges located in eco-sensitive areas often promote sustainable
        practices and nature conservation
      </p>
    </div>
  </div>
</section>

<owl-carousel-o [options]="galleryOptions" (translated)="getPassedData($event)">
  <ng-container *ngFor="let photo of photos; let i = index">
    <ng-template carouselSlide [id]="photo.id">
      <img [src]="photo.url"  loading="lazy"/>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<!-- ROOMS -->
<section class="lg:px-48 md:px-12 px-4 pt-0 pb-5" #rooms>
  <div>
    <h2 class="secondaryTitle text-center mb-0 bg-100% pt-5">Rooms</h2>
  </div>
  <owl-carousel-o [options]="roomsOptions">
    <ng-container *ngFor="let room of roomTypes">
      <ng-template carouselSlide [id]="room.id">
      <div class="h-[30rem]  p-5  relative rounded-md bg-cover bg-center hover:bg-gray-300 transition duration-300 ease-in-out" [style.background-image]="'url(' + room.photo + ')'">
        <div class="absolute top-0 left-0 w-1/2 bg-primary p-3 rounded-tl-md font-raleway leading-6">{{room.price}}</div>
        <div class="absolute bottom-0 w-full bg-primary left-0 text-center p-3 rounded-b-md font-montserrat font-bold text-white">{{room.roomType}}</div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>

<!-- Contact us  -->
<section
  class="sectionSize items-start pt-8 md:pt-36 text-white contact"
  #contact
>
  <div class="mb-4">
    <h2 class="secondaryTitle bg-highlight3 p-10 mb-0 bg-center bg-100%">
      Contact us
    </h2>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-2 w-full mt-4">
    <div>
      <div>
        <h1 class="font-bold tracking-wider text-xl">Location</h1>
      </div>
      <div class="font-raleway">
        <ul>
          <li>- Kinyerezi</li>
          <li>- Tabata Mawenzi</li>
          <li>- Tabata Bima</li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h1 class="font-bold tracking-wider text-xl">Contact</h1>
      </div>
      <div class="font-raleway">
        <ul>
          <li>+255 655 981 515</li>
          <li>+255 767 981 515</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<section class="lg:px-48 md:px-12 px-4 py-5 flex flex-col items-center bg-medium">
  <div
  class="flex items-center uppercase font-varela font-extrabold text-2xl leading-7"
>
  <!-- <img src="assets/images/nirovi.png" alt="Logo" width="150" height="150" /> -->
  <h1>
    <span class="text-white">nirovi </span
    ><span class="text-primary"> lodge</span>
  </h1>
</div>
  <!-- <div class="flex mb-8">
    <a href="#">
      <img src="assets/logos/Facebook.svg" alt="Facebook logo" class="mx-4" />
    </a>
    <a href="#">
      <img src="assets/logos/Youtube.svg" alt="Youtube logo" class="mx-4" />
    </a>
    <a href="#">
      <img src="assets/logos/Instagram.svg" alt="Instagram logo" class="mx-4" />
    </a>
    <a href="#">
      <img src="assets/logos/Twitter.svg" alt="Twitter logo" class="mx-4" />
    </a>
  </div> -->
  <div class="text-white font-montserrat text-sm my-2">
  Design by: robinsonanthony1505@gmail.com
  </div>
  <div class="text-white font-montserrat text-sm">
    © {{ currentYear }} All rights reserved 
  </div>
</section>
