.home{
    background-color: #b4d2e7;
}
.about{
    background-color: #a1a6b4;
}
.service{
    background-color: #94c5cc;  
}
.contact{
    background-color: #94c5cc;  
}
// .top{
//     height: 55.5vh;
//     width: 100%;
//     // background:radial-gradient(circle,rgb(255,214,10),rgb(15,15,15)) ;
// }
// .bottom{
//     height: 36vh;
//     width: 100%;
//     // background:radial-gradient(circle,rgb(255,214,10),rgb(15,15,15)) ;
// }
// .imageWrapper{
//     position: absolute;
//     img{
//         width: 100%;
//         -webkit-box-reflect: below 0 linear-gradient(transparent,rgba(255,255,255,0.8));
//     }
// }

// .welcome{
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     font-size: 2rem;
// }